.trapezoid-right {
    height: 0;
    width:539.594px;
    border-bottom: 800px solid black;
    border-left: 0px solid transparent;
    border-right: 404.69px solid transparent;
    border-top: 0 solid transparent;
  }